<main>
        <form class="user-form" action="/users/users" method="POST">
            <div class="form-control">
                <label for="username">username</label>
                <input type="text" name="username">
            </div>
            <div class="form-control">
                <label for="age">Age</label>
                <input type="number" name="age">
            </div>
            <button type="submit">Send</button>
        </form>
    </main>