extends layout/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/add-users.css")

block content
    main
        form.user-form(action="/users/users", method="POST")
            div.form-control
                label(for="username") username
                input(type="text", name="username")
            div.form-control
                label(for="age") Age
                input(type="number", name="age")
            button(type="submit") Send