<main>
    <div class="container-card">
        {{#if user}}
            <div class="card">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width: 100%;">
                <div class="container">
                    <h4><b>Name: {{ user.username }}</b></h4>
                    <p>Age: {{ user.age }}</p>
                    <form action="/users/delete/{{ user.id }}" method="post">
                        <button type="submit" class="btn-del">Delete</button>
                    </form>
                </div>
            </div>
        {{else}}
            <p class="logo">All User List...</p>
        {{/if}}
    </div>
</main>