/* USERS PAGE */
.container-card {
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px auto;
    transition: 0.3;
    width: 250px;
    border-radius: 5px;
    padding-bottom: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

.btn {
    background-color: #0ae5e9;
    font-weight: bold;
    padding: 5px 2px;
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:focus {
        outline: none;
        border: 0.2px solid #0ae5e9;
    }
    &:active {
        box-shadow: 0 0 10px #0ae5e9;
    }
    &:hover {
        box-shadow: 0 0 10px #0ae5e9;
        transition: all 0.3s ease-in-out;
    }
}

.btn-e-r {
    display: flex;
    margin-top: 10px;
    form {
        margin-left: 10px;
    }
}

.btn-del {
    font-weight: bold;
    padding: 7px 7px;
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #E90A0A;
    &:focus {
        outline: none;
        border: 0.2px solid #E90A0A;
    }
    &:active {
        box-shadow: 0 0 10px #E90A0A;
    }
    &:hover {
        box-shadow: 0 0 20px #E90A0A;
        transition: all 0.3s ease-in-out;
    }
}